a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

body {
    padding: 0px;
    margin: 0px;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    background-color: #EDEDED;
    list-style: none;
    font: 80% Tahoma;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    background-color: #EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #EDEDED;
    padding: 2px 10px;
    float: left;
}

#menu ul li a:hover {
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom: 3px solid #EA0000;
}


/* Provide sufficient contrast against white background */

h1.logo {
    font-family: Arial;
    color: crimson;
}

li {
    list-style-type: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
  -------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}